@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #1A2735;
  --background: #FFFFFF;
  --foreground-invert: #FFFFFF;


}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #FFFFFF;
    --background: #1A2735;
    --foreground-invert: #1A2735;
  --background-invert: #1A2735;
  }
}

body {
  color: var(--foreground);
  background:var(--background)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.leaflet-div-icon {
  background: transparent !important;
  border: none !important;
}
